# Database connection
DB_HOST=HOST
DB_USER=USER
DB_PASSWORD=PASSWORD
DB_NAME=DATABASE

# Discord bot connection
botToken=TOKEN

# message channels
# use as many ping ids as you want. separate with commas to get more
splatfestNew=CHANNEL ID,PING ID,PING ID
# copy with suffix to get more channels
#splatfestNew2=CHANNEL ID,PING ID,PING ID

splatfestWin=CHANNEL ID,PING ID,PING ID
# copy with suffix to get more channels
#splatfestWin2=CHANNEL ID,PING ID,PING ID