discordconfig = {
    botToken  : "",

    splatfest : {
        newSplatfest : {
            channelId : [
                "",
            ],
        },
        winSplatfest : {
            channelId : [
                "",
            ],
        },
    },
};

module.exports = discordconfig;